fastapi
uvicorn
sqlalchemy
pydantic
python-multipart

PyJWT
pydantic[email]
numpy
joblib
tensorflow
scikit-learn
Pillow
tzdata
google-auth-oauthlib==1.0.0
google-api-python-client==2.101.0
google-auth==2.25.0
google-auth-httplib2==0.1.0
